<!DOCTYPE html>
<html>
<head>
	<title>Outpass Application - Response Submitted</title>
	<style>
		/* body {
			background-image: url("login-image.jpg");
			background-size: cover;
		} */
        body {
			background-color: whitesmoke; /* Replace with your custom background color */
		}
		.header-container {
			background-color: #333;
			padding: 20px;
			text-align: center;
			margin-bottom: 30px;
		}
		.header, .subheading {
			color: #FFFFFF;
			font-size: 24px;
			font-weight: bold;
			margin: 0;
		}
		.subheading {
			font-size: 18px;
			margin-top: 10px;
		}
		.container {
			background-color: #FFFFFF;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
			width: 60%;
			margin: 0 auto;
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="header-container">
		<h1 class="header">National Institute of Technology, Hamirpur</h1>
		<p class="subheading">Online Outpass Application</p>
	</div>
	<div class="container">
		<h1>Thank you!</h1>
		<p>Your response has been submitted.</p>  
	</div>
    <img src="./photos/logo.jpg" alt="Example image" width="25%" style="display:block; margin:auto;margin-top:50px;">
</body>
</html>
