<!DOCTYPE html>
<html>
<head>
	<title>National Institute of Technology Hamirpur - Outpass Application</title>
	<link rel="stylesheet" href="css/style.css">
	<!-- type="css/style.css"  -->
</head>
<body>
	<header>
		<div class="header-container">
			<div class="logo">
				<h1>National Institute of Technology Hamirpur</h1>
				<h2>Welcome to the Outpass Application of NIT Hamirpur</h2>
			</div>
			<nav>
				<ul>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<section id="photo">
			<img src="./photos/nith.jpeg" alt="photo">
		</section>
		<section id="intro">
			<h3>About the Site</h3>
			<p>Here you can apply for an outpass to leave the campus for a specified period of time. Please make sure to fill all the required information correctly.</p>
			<p> </p>
		</section>
	</main>
	
	<footer>
		<p>Travel safely.</p>
	</footer>
</body>
</html>
