<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nit Hamirpur</title>
    <link rel="stylesheet" href="css/login.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" ;>
    <!-- bootstap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



</head>

<body class="body">
    <nav class="navbar navb bg-dark navbar-expand-lg bg-warning bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">
                <h2 style="color: white; text-align: center;">NIT Hamirpur Hostel Login</h2>
            </a>
            <!--heading website-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/register" style="color: white;">Register</a>
                    </li>
                    <!-- <li class="nav-item ">
                        <a class="nav-link" href="/register" style="color: white;">Register</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="box">
        <!-- <img src="./hostel.jpg" alt="img"> -->
        <!-- <div class="image">
            
        </div> -->
        <div class="card">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fon">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label fon">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <div class="buton">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>



</body>

</html>